/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #270b36;
  --ifm-color-primary-dark: #230a31;
  --ifm-color-primary-darker: #21092e;
  --ifm-color-primary-darkest: #1b0826;
  --ifm-color-primary-light: #2b0c3b;
  --ifm-color-primary-lighter: #2d0d3e;
  --ifm-color-primary-lightest: #330e46;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b45fe3;
  --ifm-color-primary-dark: #a744de;
  --ifm-color-primary-darker: #a136dc;
  --ifm-color-primary-darkest: #8722c0;
  --ifm-color-primary-light: #c17ae8;
  --ifm-color-primary-lighter: #c788ea;
  --ifm-color-primary-lightest: #dbb1f1;
}
